<h1 class="my-8 text-center text-6xl font-bold">
  <span class="text-green-500">TailwindCSS</span> and
  <span class="text-red-600">Angular</span> is awesome!
</h1>
<p class="text-center text-3xl">Thanks for reading!</p>
<anu-image-article [articles]="articles" columns="3"></anu-image-article>
<anu-text-article [articles]="articles" columns="3"></anu-text-article>
<anu-plain-article [articles]="articles" columns="2"></anu-plain-article>
<anu-event-article [articles]="events"></anu-event-article>
<router-outlet></router-outlet>
